[submodule "SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/openssl"]
	path = lib/openssl
	url = https://github.com/openssl/openssl
[submodule "lib/CURL"]
	path = lib/CURL
	url = https://github.com/curl/curl
[submodule "lib/SDL_ttf"]
	path = lib/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "lib/SDL_image"]
	path = lib/SDL_image
	url = https://github.com/libsdl-org/SDL_image
